.cont {
	height: calc(100% - 68px);
}

.dropdown-menu.dropdown-menu-sw > li .dropdown-item:not([role='separator']),
.dropdown-menu.dropdown-menu-sw > div > li .dropdown-item:not([role='separator']) {
	cursor: pointer;
}

.dropdown-item > .octicon {
	display: none;
}
.dropdown-item > i.icon {
	color: var(--personal-blue1);
	width: 15px;
	display: inline-block;
	text-align: center;
	user-select: none;
}

.dropdown-item:hover,
.dropdown-item:hover > i.icon {
	color: white;
}


.notifs {
	position: absolute;
	right: 0;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#terminalControl {
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
}

.servers > .card {
	padding: 12px;
}

.commandPalette {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: calc(50% - 200px);
	transform: translate(-50%, 0%);
}

.commandPalette.visible {
	animation-name: paletteVisible;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-duration: 0.17s;

}

.arbitraryEvent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

#websocket-warn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	background-color: #ff0031;
	padding: 10px 360px;
	z-index: 999;
	display: none;
}

@keyframes paletteVisible {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}