.cont {
	height: calc(100% - 68px);
}

.dropdown-menu.dropdown-menu-sw > li .dropdown-item:not([role='separator']),
.dropdown-menu.dropdown-menu-sw > div > li .dropdown-item:not([role='separator']) {
	cursor: pointer;
}

.notifs {
	position: absolute;
	right: 0;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#terminalControl {
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
}

.servers > .card {
	padding: 12px;
}