.cont {
	height: calc(100% - 68px);
}

.dropdown-menu.dropdown-menu-sw > li .dropdown-item:not([role='separator']),
.dropdown-menu.dropdown-menu-sw > div > li .dropdown-item:not([role='separator']) {
	cursor: pointer;
}

.notifs {
	position: absolute;
	right: 0;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#terminalControl {
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
}

.servers > .card {
	padding: 12px;
}

.commandPalette {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: calc(50% - 200px);
	transform: translate(-50%, 0%);
}

.commandPalette.visible {
	animation-name: paletteVisible;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-duration: 0.17s;

}

@keyframes paletteVisible {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}