<div class="anim-fade-in cont">
	<div class="init anim-fade-in" *ngIf="main">
		<div class="d-flex flex-items-center flex-column">
			<i class="icon" style="font-size: 22pt; color: var(--personal-blue1)">rocket</i>
			<h1>Inicializar plataforma</h1>
		</div>
		<p class="color-fg-subtle" *ngIf="!status.cypherKey">Bienvenido a CloudCockpit, este asistente de inicialización te ayudará a poner en marcha el servidor por primera vez.</p>
		<p class="color-fg-subtle" *ngIf="status.cypherKey">Se ha detectado una clave válida para el sistema de cifrado de datos y puede continuar con la configuración.</p>
		<p class="color-fg-subtle anim-fade-in" *ngIf="!status.cypherKey" style="opacity: 0; animation-delay: 5s; animation-fill-mode: forwards;">Esto solo te llevará unos minutos...</p>
		<p class="color-fg-subtle anim-fade-in" *ngIf="status.cypherKey" style="opacity: 0; animation-delay: 5s; animation-fill-mode: forwards;">Esto te llevará menos de un minuto...</p>
		<button class="btn btn-outline mt-3" *ngIf="!status.cypherKey" routerLink="encrypt">Comenzar</button>
		<button class="btn btn-outline mt-3" *ngIf="status.cypherKey" routerLink="admin">Continuar</button>
	</div>

	<div class="init anim-fade-in" *ngIf="!main">
		<router-outlet></router-outlet>
	</div>
</div>