<div class="anim-fade-in">
	<div class="d-flex flex-items-center flex-column">
		<i class="icon" style="font-size: 22pt; color: var(--personal-blue1)">key</i>
		<h1>Seguridad</h1>
	</div>
	<div class="anim-fade-in" *ngIf="!omitMessage">
		<p class="color-fg-subtle">CloudCockpit puede cifrar la información que almacena en la base de datos para que esté protegida ante cualquier ataque.</p>
		<p class="color-fg-subtle">Inserte una clave de 32 caracteres en la variable de entorno <code>DB_CYPH</code> y a continuación pulse continuar.</p>
		<button class="btn btn-outline mr-1" (click)="check()">Continuar</button>
		<button class="btn btn-danger ml-1" (click)="omitMessage = true">Omitir</button>
	</div>
	
	<div class="anim-fade-in" *ngIf="omitMessage">
		<p class="color-fg-subtle">Si continúa sin definir una clave de autenticación, su información confidencial quedará totalmente almacenada en texto plano.</p>
		<p class="color-fg-subtle">Sus contraseñas de inicio de sesión, credenciales de acceso a todos sus servidores, direcciones IP y direcciones físicas serán legibles si un atacante accede a la base de datos.<br><br>¿Desea continuar igualmente?</p>
		<button class="btn btn-danger mr-1" [routerLink]="['../admin']">Continuar</button>
		<button class="btn btn-outline ml-1" (click)="omitMessage = false">Retroceder</button>
	</div>
</div>