body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 10px 20px;
	padding: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.icon {
	font-family: 'UIKit Icons';
}

/* Esto puede producir algunos errores de scroll... */
.xterm-viewport {
	scroll-behavior: smooth;
}

.anim-fade-in {
	animation-duration: 0.4s !important;
}

ng-terminal > * > .resize-handle {
	opacity: 0 !important;
}

.focus {
	border-color: none !important;
	box-shadow: none !important;
}

.pointer {
	cursor: pointer;
}

/* @font-face {
	font-family: 'MesloLGS NF';
	src: url('./assets/fonts/MesloLGS-NF-Regular.woff2') format('woff2'),
		 url('./assets/fonts/MesloLGS-NF_Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: block;
} */

@font-face {
font-family: "MesloLGS NF";
src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Regular.ttf");
font-weight: normal;
font-style: normal;
}
@font-face {
	font-family: "MesloLGS NF";
	src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Bold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "MesloLGS NF";
	src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Italic.ttf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "MesloLGS NF";
	src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Bold%20Italic.ttf");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "UIKit Icons";
	src: url("./assets/fonts/UIKitIcons-Rounded-7.ttf");
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}