.focus {
	color: var(--color-fg-default);
	background-color: var(--color-canvas-default);
	border-color: var(--color-border-default);
	border-radius: 6px 6px 0 0;
}

.focus > svg > path {
	color: var(--color-ansi-blue);
}

.tabnav-tab {
	font-weight: 500;
}

.tabnav-tab.focus > .icon {
	color: var(--personal-blue1);
}
.tabnav-tab > svg {
	display: none;
}