<div class="anim-fade-in">
	
	<!-- Pestañas de terminales -->
	<div class="term-tabs color-bg-inset color-fg-default">

		<nav class="SelectMenu-tabs pt-0">
			<button *ngFor="let term of terms.terms | filterPtys"
					(click)="terms.focus(term.host, term.auth, term.pid)"
					class="SelectMenu-tab tab rounded-3"
					[class.focus]="terms.haveFocus(term)"
					[attr.aria-selected]="terms.haveFocus(term)">
				<svg class="octicon octicon-clippy mr-2 consoleIcon" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0114.25 15H1.75A1.75 1.75 0 010 13.25V2.75zm1.75-.25a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V2.75a.25.25 0 00-.25-.25H1.75zM7.25 8a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L5.44 8 3.72 6.28a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm1.5 1.5a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"></path></svg>
				<svg (click)="terms.disconnect(term.host, term.auth, term.pid)" class="octicon octicon-clippy killBtn mr-2 pointer" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg>
				<!-- <span class="">
				</span> -->
					{{ servers.getServerName(term.host) }}
			</button>
		  </nav>
	</div>

	<!-- Contenedor de terminal. -->
	<div class="terminal-cont" (keydown)="onKeyDown($event)" tabindex="0">

		<div *ngFor="let terminal of terms.terms" class="pt-0 p-3"
		appOnloadTerm
		[class.focus]="terminal.focus"
		[attr.auth]="terminal.auth"
		[attr.pid]="$any(terminal).pid"
		[attr.server]="terminal.host">

			<!-- Mensaje de carga -->
			<!-- <div *ngIf=""></div> -->

		</div>
		
	</div>

</div>