<div class="anim-fade-in">
	
	<!-- Pestañas de terminales -->
	<div class="term-tabs color-bg-inset color-fg-default">

		<nav class="SelectMenu-tabs pt-0">
			<button *ngFor="let term of terms.store.reflectedTerminalStoreArray | filterPtys"
					(click)="terms.focus(term.connection.pid)"
					class="SelectMenu-tab tab rounded-3"
					[class.focus]="terms.haveFocus(term)"
					[attr.aria-selected]="terms.haveFocus(term)">
				<i class="icon mr-2 consoleIcon">shell</i>
				<i class="icon mr-2 killBtn pointer" (click)="terms.disconnect(term.connection.pid)">cancel_circle</i>
				<!-- <svg class="octicon octicon-clippy mr-2 consoleIcon" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0114.25 15H1.75A1.75 1.75 0 010 13.25V2.75zm1.75-.25a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V2.75a.25.25 0 00-.25-.25H1.75zM7.25 8a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L5.44 8 3.72 6.28a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm1.5 1.5a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"></path></svg> -->
				<!-- <span class="">
				</span> -->
					{{ servers.getServerName(term.connection.host) }}
			</button>
		  </nav>
	</div>

	<!-- Contenedor de terminal. -->
	<div class="terminal-cont" (keydown)="onKeyDown($event)" tabindex="0">

		<div *ngFor="let terminal of terms.store.reflectedTerminalStoreArray" class="pt-0 p-3"
		appOnloadTerm
		[class.focus]="terminal.focus"
		[attr.auth]="terminal.connection.auth"
		[attr.pid]="terminal.connection.pid"
		[attr.host]="terminal.connection.host">

			<!-- Mensaje de carga -->
			<!-- <div *ngIf=""></div> -->

		</div>
		
	</div>

</div>