<div class="cont anim-fade-in">
	<h1>CloudCockpit</h1>
	<form class="form p-6 d-flex flex-column" (keydown.enter)="login(user.value, pass.value)">
		<input #user class="form-control mb-3" type="text" name="user" placeholder="Usuario">
		<input #pass class="form-control mb-3" type="password" name="password" placeholder="Contraseña">
		<button (click)="login(user.value, pass.value)" class="btn" [class.btn-outline]="!logInErr" [class.btn-danger]="logInErr" type="button" aria-label="Login">
			<!-- <svg class="octicon octicon-clippy" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M5.5 4a2.5 2.5 0 014.607-1.346.75.75 0 101.264-.808A4 4 0 004 4v2h-.501A1.5 1.5 0 002 7.5v6A1.5 1.5 0 003.5 15h9a1.5 1.5 0 001.5-1.5v-6A1.5 1.5 0 0012.5 6h-7V4zm-.75 3.5H3.5v6h9v-6H4.75z"></path></svg> -->
			<span class="anim-fade-in" *ngIf="!logInErr">Iniciar sesión</span>
			<span class="anim-fade-in" *ngIf="logInErr">Credenciales incorrectas</span>
		</button>
	</form>
</div>