.authSelector {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	box-shadow: var(--color-shadow-large);
}

.authSelector > .selector {
	max-height: 400px;
	overflow: auto;
}

.actions, .apps, .snippets {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
}

.actions > div > .Box,
.apps > div > .Box {
	width: 100%;
}

@media (max-width: 375px) {
	.title {
		flex-direction: column;
		justify-content: center;
	}

	.title > .octicon {
		margin-right: 0px !important;
	}

	.title > .BtnGroup {
		margin-top: 6px;
		width: 100%;
	}

	.title > .BtnGroup > .BtnGroup-item {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.authSelector {
		width: 515px;
	}	
}

@media (max-width: 765px) {
	.authSelector {
		width: 90%;
	}
}